/front_curriculum
./postcss.config.js
.env
./cv_backend/media
# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Python
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
*.swp
*.swo
.vscode/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/

# Environments
.env
.env.*

# Coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*.pyo
*.pyd
